/* Header Title */
.header {
  padding: 30px;
  text-align: center;
  color: white;
  font-family: Lucida Calligraphy;
  background-image: url("chocolate.jpg");
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #233;
  font-family: forte;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fffddd;
  color: black;
}

.topnav a.active {
  background-color: #4dCAF50;
  color: red;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Add a card effect for articles */
.card {
  background-color: #BD9A7A;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  margin-right: 20px;
}

.chocolate-link {
  position: relative;
}

.chocolate-img {
  transition: transform 0.3s ease;
}

.chocolate-link:hover .chocolate-img {
  transform: scale(1.1);
}

